body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: black;
  margin: 20px;
}

h1,
h2 {
  color: blue;
}

a {
  color: lightseagreen;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  margin-bottom: 5px;
}

#posts {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#posts h3 {
  font-size: 24px;
  margin-top: 0;
}

#posts img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#posts .date {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
